/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-image:
    repeating-linear-gradient(90deg, var(--page-color), var(--page-color) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--page-color), var(--page-color) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--gradient-color-top) 0.01%, var(--gradient-color-bottom));
  background-attachment: fixed;
  min-block-size: 100vh;
  color: var(--text-color);
  font-variation-settings: 'wght' var(--s);
}

/*///////////////кнопка//////////////////*/
.button {
  background-color: transparent;
  border: var(--text-color) 2px solid;
  display: flex;
  padding: 9px 17px;
  font-family: var(--font-family-title), sans-serif;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
  z-index: 0;
  overflow: hidden;
  position: relative;
  justify-content: center;
}


.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--text-color);
}

.button::after {
  content: '';
  display: block;
  position: absolute;
  transform: translate(-120%);
  height: 115%;
  width: 115%;
  background-color: var(--text-color);
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: translate(-20px);
  color: var(--page-color);

}

.button:hover .button__text {
  mix-blend-mode: difference;
  color: var(--button-hover-color);
  z-index: 1;
}

.button:hover .floppy {
  mix-blend-mode: difference;
  color: var(--button-hover-color);
  z-index: 1;
}

.button__text {
  font-size: 14px;
  z-index: 1;
}

.button__text::after {
  position: relative;
}

/*////////////////////////////////*/
.header {
  border: var(--text-color) 2px solid;
  font-family: var(--font-family-title), sans-serif;
  margin-top: 100px;
  text-transform: uppercase;
  margin-bottom: 100px;
  background-color: var(--page-color);
}

.header-inf {
  display: grid;
  gap: 20px;
  justify-items: center;
  margin-bottom: 25px;
}

.header-title {
  margin-top: 137px;
  line-height: 65px;
  font-size: 65px;
}

.header-description {
  font-size: 23px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
  font-size: 14px;
  position: relative;
}

.theme-menu__list {
  gap: 12px;
  display: grid;
  left: 10px;
  position: relative;
}

/*////////////анимация кнопок тем///////////////*/
.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation-timing-function: steps(2, start);
  opacity: 0.6;
  animation-name: activate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  inset-inline-start: -17px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button::after {
  content: '';
  height: 2px;
  margin-top: 1px;
  display: block;
  position: absolute;
  transition: transform 0.3s;
  width: 0;
  transform-origin: left;
  background-color: var(--text-color);
  transform: scale(0);
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transform: scale(1);
}

/*///////////////////////*/

.main {
  display: grid;
  gap: 50px;
  font-family: var(--font-family-main), sans-serif;
}

.card {
  border: var(--text-color) 2px solid;
  background-color: var(--page-color);
  display: grid;
  position: relative;
}

.main-title {
  font-variation-settings: 'wght' var(--l);
  font-size: 18px;
  line-height: 21px;
  padding: 6px 9px;
}

.main-container {
  display: grid;
  padding: 25px;
  gap: 26px;
}

.main-description {
  font-weight: var(--s);
  font-size: 18px;
  line-height: 21px;
  gap: 27px;
  display: grid;
}

/*////////картинки//////////*/
.main-image {
  outline: var(--text-color) 2px solid;
  outline-offset: -2px;
  display: flex;
  object-fit: cover;
  justify-content: flex-end;
}

.main-image-description {
  font-family: var(--font-family-title), sans-serif;
  font-size: 14px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 58px;
  right: 25px;
  opacity: 0.5;
  text-shadow: 1px var(--page-color);
}

@supports ((text-stroke: 1px var(--page-color)) or (-webkit-text-stroke: 1px var(--page-color))) {
  .main-image-description {
    -webkit-text-stroke: 1px var(--page-color);
    text-stroke: 1px var(--page-color);
    text-shadow: none;
  }
}

.image {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-height: 375px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.gray {
  filter: contrast(50%);
}

.saturate {
  filter: saturate(400%);
}

.gray-purrple {
  filter: saturate(400%);
}

.invert {
  filter: invert(100%)
}

.septia {
  filter: sepia(80%);
}

.blur {
  filter: blur(0.2rem);
}

.blur-brown {
  filter: contrast(10%);
}

/*////////////анимация кнопки like///////////////*/

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 4px 0;
}

.card__like-button:hover::after {
  transform: translate(0);
}

/*/////////////////////////////////*/

.card__icon-button {
  background-color: transparent;
  transition: 0.3s ease;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  height: 38px;
}

.card__icon-button:focus-visible {
  border: var(--text-color) 2px solid;
  outline-offset: -2px;
}

.main-buttom {
  display: flex;
  font-family: var(--font-family-title) sans-serif;
  gap: 6px;
  justify-content: flex-end;
}

/*///////////////////heart////////////////////*/

.like-icon .main-body {
  fill: var(--page-color);
  transition-timing-function: linear;
}

.like-icon .core {
  transition-timing-function: linear;
  fill: var(--page-color);
}

.like-icon .contour {
  transition-timing-function: linear;
  fill: var(--contour-heart);
}

.sparks {
  fill: var(--color-heart);
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-heart);
  transition: fill;
  transition-duration: 0.3s;
  transition-delay: 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--contour-heart);
  transition: fill;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--color-heart);
  transition: fill;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: var(--color-heart);
  transition: fill;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--color-heart);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--color-heart);
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .heart {
  scale: 1;
  animation-delay: 0.1s;
  animation: heart-size 0.3s ease-in 0.1s alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  opacity: 0;
  animation: sparks 0.3s ease-in 0.3s alternate;
}

/*////////////////////////футер///////////////////////*/
.footer {
  display: flex;
  justify-content: center;
}

.footer__button {
  background-color: var(--page-color);
  gap: 8px;
  margin-bottom: 103px;
  padding: 15px 20px;
}

.flooppy-footer {
  stroke: var(--text-color);
  width: 21px;
  height: 21px;
}

/*//////////////////диалог///////////////////*/
.dialog {
  position: fixed;
  background-color: var(--page-color);
  padding: 30px;
  border: var(--text-color) 2px solid;
  max-width: 353px;
  min-width: 342px;
}

dialog::backdrop {
  background-color: rgb(0 0 0);
  opacity: 0.75;
}

.dialog__container {
  color: var(--text-color);
  font-family: var(--font-family-title) sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;

  display: block;
  justify-items: center;
}

.dialog__text {
  max-width: 234px;
  font-family: var(--font-family-title), sans-serif;
}

.dialog__button {
  margin-top: 30px;
  width: 100%;
}

.dialog__content {
  gap: 20px;
  display: flex;
  align-items: center;
}

.dialog-floppy {
  stroke: currentColor;
}

.floppy {
  stroke: currentColor;
}

/*////////////////////////////////////////*/



/*///////размер экрана /////////*/
@media (width < 700px) {

  .header-title {
    font-size: 49px;
    margin-top: 114px;
  }

  .header-inf {
    gap: 10px;
    margin-bottom: 24px;
  }

  .header__theme-menu {
    margin-bottom: 22px;
  }

  .header-description {
    font-size: 14px;
  }

  .main-image-description {
    top: 78px;
    right: 10px;
  }

  .button {
    display: grid;
    justify-items: center;
  }

  .footer__button {
    padding: 15px 20px;
  }

  .footer_svg {
    width: 28px;
    height: 28px;
  }
}