/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
    --font-family-main: 'Inter-Variable';
    --font-family-title: 'PressStart2P-Regular';
    --text-color: #00CC14;
    --page-color: #000;
    --gradient-color-top:#007F0C;
    --gradient-color-bottom:#004306;
}


@media (prefers-color-scheme: dark) {
    :root.theme-dark {
        --font-family-main: 'Inter-Variable';
        --font-family-title: 'PressStart2P-Regular';
        --text-color: #00CC14;
        --page-color: #000;
        --gradient-color-top:#007F0C;
        --gradient-color-bottom:#004306;
    }
}

:root.theme-light {
    --font-family-main: 'Inter-Variable';
    --font-family-title: 'PressStart2P-Regular';
    --text-color: #000;
    --page-color: #fff;
    --gradient-color-top:#E7E7E7;
    --gradient-color-bottom:#1A1A1A;
}

@media (prefers-color-scheme: light) {
    :root {
        --font-family-main: 'Inter-Variable';
        --font-family-title: 'PressStart2P-Regular';
        --text-color: #000;
        --page-color: #fff;
        --gradient-color-top:#E7E7E7;
        --gradient-color-bottom:#1A1A1A; 
    }
}
