/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
    --font-family-main:'Inter-Variable';
    --font-family-title:'PressStart2P-Regular';
    --text-color:#00CC14;
    --page-color:#000;
}